* {
    font-family: "Poppins", "sans-serif";
    margin: 0;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
    opacity: 0.5;
    margin-right: 2rem;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:hover {
    opacity: 1 !important;
}

.btnone {
    background: transparent;
    border: 1px solid white;
    opacity: 0.5;
}

.banner {
    background: url("banner.webp");
    background-size: cover;
    height: 768px;
}

.menu a {
    margin-right: 50px;
    color: white;
    text-decoration: none;
    opacity: 0.6;
    font-weight: 500;
    font-size: 16px;
}

.menu a:hover {
    opacity: 1;
    color: white;

}

.btnone {
    height: 2.8rem;
    width: 8.5rem;
    color: white;
    border: 1px solid white;
    opacity: 0.6;
    background-color: transparent;
    transition: 0.3s;
}

.btnone:hover {
    opacity: 1;
    color: white;
}

.build {
    font-size: 60px;
    color: #fff;
    text-shadow: 0px 3px 8px rgba(52, 52, 52, .25);
    font-weight: 700;
    position: absolute;
    margin-top: -18rem;
    margin-left: 29rem;
}

.body {
    font-size: 120px;
    color: #fff;
    text-shadow: 0px 3px 15px rgba(52, 52, 52, .35);
    font-weight: 700;
    line-height: 100px;

}


.ab {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    margin-top: 10rem;
}

.gym {
    color: #1face1;
}

.ab::after {
    background: #1face1;
    content: "";
    height: 2px;
    width: 50px;
    margin-top: 3.5rem;
    margin-left: -17rem;
    position: absolute;
}

 .bod::after {
    border: 10px solid #1face1;
    content: "";
    height: 19rem;
    width: 26rem;
     position: absolute;
     transition: all .5s ease-in;
     left: 0;
} 

.blog:hover .bod::after{
display: none;
}

.gym::after {
    background: #1face1;
    content: "";
    height: 2px;
    width: 15px;
    margin-top: 3.5rem;
    margin-left: -13rem;
    position: absolute;
}

.para {
    color: white;
}

.btntwo {
    color: white;
    background: #1face1;
    height: 3.5rem;
    width: 10rem;
    border: none;

}

.btntwo:hover {
    color: black;
    background: white;
    transition: all .35s ease-in-out;
}

.blog {
    color: white;
    position: relative;
    display: inline-block;
}

.blog img {
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.blog:hover img {
    filter: grayscale(0%);

}

/* .blog:hover .bod {
    border: none !important;

} */

.blog:hover {
    background-color: #1face1 !important;
    /* padding-bottom: 2rem; */
}

.hap::after {
    background: #1face1;
    content: "";
    height: 3px;
    width: 50px;
    margin-top: 3.5rem;
    margin-left: -7rem;
    position: absolute;
}

.gymone {
    color: #1face1;
}

.gymone::after {
    background: #1face1;
    content: "";
    height: 3px;
    width: 15px;
    margin-top: 3.5rem;
    margin-left: -3.5rem;
    position: absolute;
}

.tag {
    position: absolute;
    font-size: 4rem;
    color: #fff;
    text-shadow: 0px 3px 8px rgba(52, 52, 52, .25);
    font-weight: 700;
    margin-top: 20rem;
}

.body {
    font-size: 7rem;
    color: #fff;
    text-shadow: 0px 3px 15px rgba(52, 52, 52, .35);
    font-weight: 700;
    line-height: 100px;
    padding-left: 190px;
}

.img-w {
    width: 470px;
    height: 468px;
}

.imgsecond {
    width: 100%;
    height: 100%;
}

.footlink {
    text-align: center;
}

.footlink:hover {
    color: #1face1 !important;

}
.expert::after {
    background: #1face1;
    content: "";
    height: 2px;
    width: 38px;
    margin-top: 3.5rem;
  position: absolute;
    left: 7rem;
}
.coach::after {
    background: #1face1;
    content: "";
    height: 2px;
    width: 18px;
    margin-top: 3.5rem;
    position: absolute;
    left:10rem;
} 
.img{
    border: 10px solid #1face1;
}

.img:hover{
    background: #1face1;
    transition: .65s ease-in-out;
    
}

 .img:hover .text{
    opacity: 1;
    transition: .65s ease-in-out;
} 
.text{
    font-weight: 800; 
    text-shadow: 0px 3px 8px rgba(52,52,52,.2509803922);
    text-align: center;
    margin-left: 34px; 
    margin-top: -56px;
    opacity: 0;
}

.img h2 span{
    font-weight: 900;
    font-size: 38px;
}

.links{
    top: 50%;
    left: 50%;
}
@media (max-width: 767.98px) {
    .img-w {
        width: 379px;
        height: 415px;
    }

    .tag {
        left: 58px;
        font-size: 3rem;
    }

    .body {
        font-size: 5rem;
        margin-left: -7rem;
    }

    .resp {
        left: 3rem;
    }

    .resp1 {
        margin-left: -8rem;
        font-size: 4rem;
    }

    .respbu {
        margin-left: 6rem;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .img-w {
        height: 533px;
        width: 533px;
    }

    .tag {
        left: 10rem;
    }

    .respbu {
        margin-left: 16rem;
    }
}